@import 'colores';
.breadcrumb > li + li:before {
    color: $darkGrey;
    content: "> " !important;
   
    font-size: 14px;
  }
  .breadcrumb {
    font-size: 14px!important;
    color: $darkGrey!important;
  }
  .breadcrumb >a {
    font-size: 14px!important;
    color: $darkGrey!important;
  }