
.header {
    background-color: $yellowMeli ;
    padding-top: $mediumgap;   
}
.buttonSearch{
    background-color: $white !important;
    color:$darkGrey !important;
    border:none !important;
    
}
.inputSearch
{
    background-color: $white !important;
    border: none;
    font-size: 18px;
}